
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1{
    
    font-family: 'Sacramento', cursive;
    font-size: 450%;  
    margin: 50px auto 0 auto;
    color: #66BFBF;
    font-weight: normal;
   
}
.text-pop-up-top {
	-webkit-animation: text-pop-up-top 1s cubic-bezier(0.600, 0.040, 0.980, 0.335) both;
	        animation: text-pop-up-top 1s cubic-bezier(0.600, 0.040, 0.980, 0.335) both;
           
}

 @-webkit-keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  @keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  .text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            font-size: x-large;
            color: #66BFBF;
}

 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  
h2{
    font-family: 'Montserrat', sans-serif;
      color: #11999E;
      padding-bottom: 10px;
      font-size: 30px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
p{
    line-height: 2;
}
hr{
   
    border-top: dotted;
    border-radius: 100%;
    width: 10%;
    border-color: #EAF6F6;
    margin-top: 100px;
    margin-bottom: 100px;
}
.top{
    background-color: #E4F9F5;
   position: relative;
   padding-top: 100px;
}
.def{
    font-size: 2rem;
    color: #66BFBF;
    
}
.top-cloud{
    position: absolute;
    right: 200px;
    top: 40px;
}
.bottom-cloud{
    position: absolute; 
    left: 250px;  
    bottom: 300px;
}
.middle{
   margin: 100px 0;
     
    
    
}
.skill-row{
    margin: 100px auto 100px auto;
    width: 50%;
    
    text-align: left;
}

.Prog{
    height: 200px;
    float: left;
    padding-right: 90px;
    
    
}
.Front{
    height:200px;
    float: right;
    
   
}
.contact-me{
    margin-top: 100px;
}
 .Info{
      width: 40%;
      margin: 40px auto 40px auto;
  }
  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 12px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
.bottom{
    background-color: #05958c;
    margin: 40px auto 40px auto;
    
    
}


.footer-link{
      color: #11999E;;
}


.yo:hover{
    background-color: blanchedalmond;
    border-radius: 50%;
}


 
  .copyright{
      color: #EAF6F6;
  }